{% if site.theme.footer_text %}
<footer class="site-footer">
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- blogfooter -->
	<ins class="adsbygoogle"
	     style="display:block;margin-bottom:30px"
	     data-ad-client="ca-pub-2047187970942448"
	     data-ad-slot="9530241416"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<p class="text">{{ site.theme.footer_text }}</p>
</footer>
{% endif %}
