<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AriAri | {% if page.title %}{{ page.title }}{% else %}Blog{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="{{ "favicon.ico?v2" | prepend: site.baseurl }}">
    <script src="{{ "/js/jquery-2.1.0.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-547559ea6bca63a8" async="async"></script>
    
    <script type="text/javascript">
        var addthis_share = {
             // ... other options
             url_transforms : {
                  shorten: {
                       twitter: 'bitly'
                       facebook: 'bitly'
                  }
             }, 
             shorteners : {
                  bitly : {} 
             }
        }
    </script>
    
</head>
