{% if site.themee.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.themee.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.themee.email_address %}
<li>
	<a href="mailto:{{ site.themee.email_address }}" title="{{ site.themee.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.themee.behance %}
<li>
	<a href="https://www.behance.net/{{ site.themee.behance }}" title="{{ site.themee.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.themee.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.themee.bitbucket }}" title="{{ site.themee.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.themee.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.themee.dribbble }}" title="{{ site.themee.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.themee.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.themee.facebook }}" title="{{ site.themee.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.themee.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.themee.flickr }}" title="{{ site.themee.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.themee.github %}
<li>
	<a href="https://github.com/{{ site.themee.github }}" title="{{ site.themee.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.themee.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.themee.google_plus }}" title="{{ site.themee.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.themee.instagram %}
<li>
	<a href="http://instagram.com/{{ site.themee.instagram }}" title="{{ site.themee.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.themee.linkedin %}
<li>
	<a href="{{ site.themee.linkedin }}" title="{{ site.themee.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.themee.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.themee.pinterest }}" title="{{ site.themee.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.themee.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.themee.reddit }}" title="{{ site.themee.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.themee.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.themee.soundcloud }}" title="{{ site.themee.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.themee.stack_exchange %}
<li>
	<a href="{{ site.themee.stack_exchange }}" title="{{ site.themee.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.themee.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.themee.steam }}" title="{{ site.themee.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.themee.tumblr %}
<li>
	<a href="http://{{ site.themee.tumblr }}.tumblr.com/" title="{{ site.themee.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.themee.twitter %}
<li>
	<a href="https://twitter.com/{{ site.themee.twitter }}" title="{{ site.themee.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.themee.wordpress %}
<li>
	<a href="https://{{ site.themee.wordpress }}.wordpress.com/" title="{{ site.themee.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.themee.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.themee.youtube }}" title="{{ site.themee.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
