/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:481:in `read'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:481:in `update_stylesheet'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/plugin.rb:108:in `method_missing'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/arielle/.rvm/gems/ruby-2.1.3/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/Users/arielle/.rvm/gems/ruby-2.1.3/bin/sass:23:in `load'
/Users/arielle/.rvm/gems/ruby-2.1.3/bin/sass:23:in `<main>'
/Users/arielle/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `eval'
/Users/arielle/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }
