<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-547559ea6bca63a8" async="async"></script>

    {% include header.html %}

    <div class="page-content">
      <div class="page-wrapper">
        {{ content }}
      </div>
    </div>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blogfooter -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2047187970942448"
         data-ad-slot="9530241416"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {% include footer.html %}

  </body>

</html>
