<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="page-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Ad unit one -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-2047187970942448"
         data-ad-slot="2273271416"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </body>

</html>
